VITE_FB_API_KEY=AIzaSy...
VITE_FB_AUTH_DOMAIN=celta-pwa.firebaseapp.com
VITE_FB_PROJECT_ID=celta-pwa
VITE_FB_STORAGE_BUCKET=celta-pwa.appspot.com
VITE_FB_MESSAGING_SENDER_ID=123456789
VITE_FB_APP_ID=1:123456789:web:abc123
VITE_ENV=development
